{% extends "app/layout.html" %}

{% load static %}

{% block content %}

<style>
    .contact-section {
        background: url("{% static 'app/content/fon_contacts.png' %}");
        background-size: cover; /* Полное покрытие */
        background-position: center; /* Центровать изображение */
        height: 75vh; /* 75% от высоты экрана */
        width: 100%; /* Полная ширина */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #E3F2FD; /* Цвет текста */
        text-align: center; /* По центру текст */
        position: relative; /* Для возможного дальнейшего позиционирования */
    }

        .contact-section h2 {
            margin-bottom: 30px; /* Отступ под заголовком */
        }

        .contact-section a {
            font-family: 'Nunito', sans-serif;
            font-size: 24px; /* Размер шрифта */
            color: #E3FBFF; /* Цвет ссылок */
            text-decoration: none; /* Убираем подчеркивание */
        }

            .contact-section a:hover {
                text-decoration: underline; /* Добавим подчеркивание при наведении */
                color: #a9d6e5;
            }

    .address {
        font-family: 'Nunito', sans-serif; /* Шрифт для адреса */
        font-size: 23px; /* Размер шрифта */
        color: #E3F2FD; /* Цвет текста */
        text-align: justify; /* Выравнивание по ширине */
    }

    .map-image {
        width: 100%; /* Ширина 100% */
        height: 45vh; /* Высота 30% высоты контейнера */
        object-fit: cover; /* Обеспечивает сохранение пропорций */
    }
</style>

<div class="contact-section">
    <h2 style="font-family: 'Marck Script', cursive; color: #E3F2FD;">Наши контакты</h2>

    <div class="address">
        <address>
            Туристическое агенство "Отдых круглый год"<br />
            Адрес: Псков, ул. Пушкина 2<br />
            <abbr title="Телефон">Номер телефона:</abbr>
            <span style="text-decoration: none;">+7 (960) 220-40-00</span>
        </address>

        <address>
            <strong>Наша страница в VK:</strong> <a href="mailto:https://vk.com/otdykh_kruglyi_god">https://vk.com/otdykh_kruglyi_god</a><br />
            <strong>Техническая поддержка:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Отдел маркетинга:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

<!-- Добавляем карту -->
<img src="{% static 'app/content/karta.png' %}" alt="Карта" class="map-image" />

{% endblock %}
